<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    //- link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- meta(property='og:image', content='http://www.onda.me/images//mockup-penppy.png')
    //- meta(property='og:title', content='ONDA(온다) - 실시간 숙박예약관리 서비스')
    //- meta(property='og:description', content='펜션/게스트하우스/리조트/해외민박 등의 객실관리, 숙박관리 서비스 무료. 다국어지원.')
    
    title White

    //- scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')    
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js')
    script(src='/assets/sweetalert/sweetalert.min.js')
    script(src='/js/clusterer.js')
    script(src='/js/white.js')
    
    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
    link(rel='stylesheet', href='/assets/sweetalert/sweetalert.css') 
    link(rel='stylesheet', href='/css/white.css')