#top.mb-4.mb-md-0
  .row
    .col-md-7
      .grid-wrapper
        .panel
          a.logo(href='/')
            img.img-fluid(src='/images/tmon_logo.png')
          .group-name.inline Member's Mall
        .panel
          a.nav.inline.mr-4(href='/')
            i.fa.fa-clone.fa-2x.mr-1
            span 카드로 보기
          a.nav.inline(href='/list-view')
            i.fa.fa-reorder.fa-2x.mr-1
            span 리스트로 보기
    .col-md-5.text-lg-right      
      a.nav.mr-4.inline(href='/favorite')
        i.fa.fa-heart-o.fa-2x.mr-2
        span 나의 찜목록
        span.badge.badge-pill.badge-secondary.ml-1 10      
      a.nav.dropdown.inline(href='#', data-toggle='dropdown')        
        i.fa.fa-user.fa-2x.mr-2
        span 김티몬
      .dropdown-menu
        //- a.dropdown-item(href='#') 계정설정
        a.dropdown-item(href='/book-list') 예약내역
        .dropdown-divider
        a.dropdown-item(href='/login') 로그아웃