include ./includes/header.pug

body
  include ./includes/top.pug

  .p-md-4

    //- Start Grid
    .grid-wrapper
      .panel.panel-card.panel-full
        .d-flex
          h2.m-0 나의 찜목록
          .ml-auto.mt-1
              a.btn.btn-outline-secondary(href='#')
                i.fa.fa-trash.mr-2
                | 찜록록 비우기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-02.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-link(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-03.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-link(href='#')
          a.btn.btn-link(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-04.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-link(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-05.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-link(href='/view') 자세히 보기
