include ./includes/header.pug

body
  include ./includes/top.pug

  .p-md-4

    //- Start Grid
    .grid-wrapper

      //- 검색 패널
      #search.panel.panel-card
        .form-group
          label 지역
          input.form-control(type='text', placeholder='예) 제주도, 속초, 안면도, 변산반도...')
        .form-group
          label 체크인
          input.form-control(type='date', value='2018-03-01')
        .form-group
          label 체크아웃
          input.form-control(type='date', value='2018-03-04')
        .form-row
          .col-lg-4
            .form-group
              label 성인
              input.form-control(type='number', value='2', min='1')
          .col-lg-4
            .form-group
              label 어린이
              input.form-control(type='number', min='0')
          .col-lg-4
            .form-group
              label 유아
              input.form-control(type='number', min='0')

      //- 필터 패널
      #filter.panel.panel-card
        .form-group
          label 숙소명
          input.form-control(type='text')
        .form-group
          label 1박당 가격
          .form-inline
            select.form-control
              option 최소가격 없음
              option 5만원 부터
              option 10만원 부터
              option 15만원 부터
              option 20만원 부터
              option 25만원 부터
              option 30만원 부터
            span.mx-2 -
            select.form-control
              option 최대가격 없음
              option 5만원 까지
              option 10만원 까지
              option 15만원 까지
              option 20만원 까지
              option 25만원 까지
              option 30만원 까지

        .form-group
          label 형태
          .check-group
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                |  펜션 / 풀빌라
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                |  호텔 / 리조트
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                |  레지던스 / 모텔
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                |  호스텔 / 게스트하우스
            .form-check
              label.form-check-label
                input.form-check-input(type='checkbox')
                |  캠핑 / 글램핑

      //- 지도 패널
      #map.panel
        script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYAR9ha33tDQfl81KCVoePD_w3KcAaWGo&callback=initMap')

      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-01.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-02.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-03.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-04.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-05.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart.fa-2x.text-danger
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-06.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-02.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-04.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-01.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-03.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-06.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-02.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-01.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-05.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-04.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-03.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-05.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-02.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-06.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel.panel-card
        .thumbnail
          img.img-fluid(src='/images/temp-hotel-01.png')
        .d-flex
          div
            h4.mb-0 제주 제이제이 호텔
            p.text-muted
              i.fa.fa-map-marker
              | 제주도 서귀포시
          a.icon-button.ml-auto
            i.fa.fa-heart-o.fa-2x
        .price-sum 120,000원 - 240,000원
        .panel-footer
          a.btn.btn-light(href='/view') 자세히 보기
      .property.panel
        button.btn.btn-lg.btn-block.btn-light(type='button', style='height:100%')
          | + 카드 20개 더보기
          .text-muted 남은카드 46