include ./includes/header.pug

body(id='login-page')
  #login-box
    .panel.panel-card.pr-lg-5.pl-lg-5.pt-lg-3
      .login-header
        img.logo(src='/images/tmon_logo.png')        
        h2.inline Member's Mall
      .form-group
        label 아이디
        input.form-control.form-control-lg(type='text', placeholder='your@email.com')
      .form-group
        label 패스워드
        input.form-control.form-control-lg(type='password')
      button.btn.btn-dark.btn-lg.btn-block(type='button', onclick='location.href="/"') 로그인
      button.btn.btn-link.btn-block.text-muted(type='button')  비밀번호 찾기

        